TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_ID=268017342
GROQ_API_KEY=
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE=Daily_Drafts
AIRTABLE_PROJECTS_TABLE=Project Approvals
AIRTABLE_PROJECTS_NAME_FIELD=Project Name
AIRTABLE_DRAFTS_URL=
MAKE_WEBHOOK_URL=https://hook.us1.make.com/mld6gfijofo3l1f4m6mtrogtvtvd8w2y
WEBHOOK_SECRET=
PORT=3000
TZ=America/Bogota
